:root{
  --body-background-color: #bdcd8c;
  --chat-background-color: #a4c393;
  --selection-color: rgb(51, 144, 236);
  --selection-color-hovered: rgba(51, 144, 236, 0.9);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  overflow: hidden;
}

#root {
  position: relative;
  background-color: var(--chat-background-color);
}

#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/telegram-background.svg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.1;
  z-index: 1;
}